
.studentSubject {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.el-card {
  margin-bottom: 20px;
}
.el-table {
  text-align: center;
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-form {
  display: flex;
  justify-content: space-around;
}
