/*题目标题*/
.el-descriptions__header {
    margin-bottom: 0px;
  }
  /* 题目基本信息内容 */
  .el-descriptions__body {
    padding: 20px 0 10px 0;
    padding-left: 70px;
  }
  
  /* 标题字体 */
  .el-descriptions__title {
    font-size: 16px;
  }
  
  .caption {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px 0;
  }
  
  /* 文本框 */
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 40px;
  }
  /*card*/
  .el-card {
    margin-bottom: 30px;
  }
  
  /*类型样式*/
  .el-radio__input.is-disabled+span.el-radio__label {
    color: #636363;
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner::after {
    background-color: #000000;
  }
  .radioOne{
    padding-left: 66px;
  }