.login-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../../assets/images/login.png);
  background-repeat: no-repeat;
}

.el-card {
  background-color: #fff;
  opacity: 10;
  width: 500px;
  height: 500px;
  margin-right: 10px;
}
